@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #0c1026;
}

nav {
  display: flex;
  align-items: center;
  margin: 10px 10px 50px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ol li {
  list-style: none;
  display: inline-block;
}

nav ol li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 85px;
  margin-top: -4px;
  text-indent: -9999em;
  background-image: url(logo.png);
  background-position: 0px -55px;
}

.l_elements {
  width: 100%;
}

.r_elements {
  width: 100%;
  justify-content: flex-end;
}

nav img {
  border-radius: 50%;
}

nav input[type="text"] {
  font-family: 'Orbitron', 'sans-serif';
  width: 100%;
  color: #fff;
  background: rgba(31, 0, 65, 0.7);
  height: 30px;
  border: none;
  min-width: 60px;
}

form {
  display: flex;
}

.fa-search, .fa-microphone {
  height: 30px;
  padding: 6px 6px;
  color: #fff;
  background: rgba(31, 0, 65, 0.7);
}

.fa-microphone {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#ghanta {
  font-size: 25px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
  height: 100%;
}

.flex-row {
  flex-direction: row;
}

.inline {
  display: inline-block;
}

.text-al {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
  image-orientation: ;
}

.mx-width {
  max-width: 600px;
}

#font {
  font-family: 'Orbitron', sans-serif;
}

#margin-lr {
  margin: 0px 30px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
section {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 20px 0 30px;
}

section::-webkit-scrollbar {
  display: none;
}

.main-col {
  width: 70%;
  height: 78%;
  float: left;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  float: left;
  color: #fff;
  margin: 0 0 40px;
}

.upper {
  width: 100%;
  height: 100%;
  background: #210244;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px 0;
}

.img1 {
  display: inline-block;
  background: url('https://mocah.org/uploads/posts/132175-taylor-swift-speak-now-music-album-hd.jpg');
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imgwrap {
  width: 100%;
  overflow: hidden;
  transition: transform .2s;
}

.img-area {
  opacity: 0.7;
}

.single-image {
  position: absolute;
  width: 30vw;
  height: 50vh;
  background: url('https://bookingagentinfo.com/wp-content/uploads/2013/10/Coldplay-Contact-Information.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.info {
  flex-direction: column;
  margin: 20px 20px;
}

.title {
  padding: 30px 0;
}

.second-title {
  justify-content: flex-end;
}

.info p {
  font-size: 14px;
}

.info span, p {
  color: grey;
}

.butt {}

.first-button {
  width: 70%;
}

input[type="button"] {
  border: none;
  outline: none;
  background: linear-gradient(to right, #5100b0, #cf00de);
  height: 6vh;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
}

input[type="button"] {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

.first-button, .second-button {
  padding: 20px 20px 10px 0;
}

.lower {
  top: 0;
  height: 50%;
  overflow: hidden;
  margin-top: 20px;
}

.playlist {
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /*! padding: 0 30px 0 0; */
}

.playlist::-webkit-scrollbar {
  display: none;
}

.al-ending {
  justify-content: flex-end;
  margin-right: 30px;
}

.margin-rg-lf {
  margin: 0 10px 0 10px;
}

section img {
  box-shadow: 0 0 10px #feb7c5;
}

.mate {
  background: #28223c;
  margin: 0 0 10px;
  padding-left: 20px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
aside {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 30px 0 0;
}

aside::-webkit-scrollbar {
  display: none;
}

.Latest-Release, .lower-queue {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-col {
  width: 30%;
  height: 78%;
  float: right;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  float: right;
}

.upper-queue {
  flex-direction: column;
  height: 47.1%;
}

.Latest-Release, .lower-queue {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lower-queue::-webkit-scrollbar {
  display: none;
}

.Latest-Release::-webkit-scrollbar {
  display: none;
}

.width-50 {
  width: 50%;
}

ul#menu {
  top: 0;
  width: 100%;
  height: 3em;
  margin: 0;
  padding: 0 10px;
  color: cyan;
  overflow: hidden;
}

ul#menu>li {
  list-style-type: none;
  width: 100%;
}

label {
  position: relative;
  display: block;
  padding: 0 0px 0 12px;
  line-height: 3em;
  transition: background 0.3s;
  cursor: pointer;
  overflow: hidden;
}

/*hide the inputs*/
aside input {
  display: none
}

/*show the second levele menu of the selected voice*/
input:checked~ul.submenu {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
}

/*style for the second level menu*/
ul.submenu {
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  background: #e2e2e2;
  transition: 0.5s ease-out;
  position: absolute;
  min-width: 90px;
}

ul.submenu li a {
  display: block;
  padding: 12px 0 12px 12px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.Latest-Release {
  flex-direction: column;
  /*! margin: 0 0 0 20px; */
  width: 100%;
}

.Latest-Release {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: scroll;
}

.Latest-Release span {
  font-size: 10px;
  margin: 0 15px;
  color: #fff;
}

.Queue {
  flex-direction: column;
}

.al-up {
  height: 100%;
  min-height: 95px;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100px;
  padding-top: 10px;
}

.al-starting {
  width: 100%;
  justify-content: center;
  /*! min-width: 235px; */
}

aside h5 {
  color: #fff;
  font-size: 17px;
  margin: 0 10px;
}

.fa-ellipsis-h {
  color: #fff;
}

.Latest-Release ol li {
  list-style: none;
  display: inline flow-root list-item;
  align-content: end;
  align-items: end;
  float: right;
}

.lower-queue {
  flex-direction: column;
  height: 50%;
  overflow: scroll;
  position: sticky;
  top: 0;
}

.first-aside {
  top: 0;
  background: #0c1026;
  position: sticky;
}

.first {
  margin: 0 0 0 0px;
  color: #fff;
  font-size: 20px;
}

.second {
  justify-content: center;
  color: cyan;
  font-size: 18px;
}

.first-queue {
  margin: 0 0 30px;
  position: sticky;
}

.al-col {
  flex-direction: row;
}

aside ol li {
  list-style: none;
}

aside h6 {
  font-size: 15px;
  margin: 0 0px;
}

.queue-alignment {
  color: #fff;
  align-content: baseline;
  align-items: baseline;
  width: 100%;
  flex-direction: column;
}

.fa-chevron-down {
  margin-left: 20px;
}

.al-end {
  width: 100%;
  justify-content: center;
  /*! flex-direction: column; */
  /*! min-width: 100px; */
}

.al-start {
  width: 100%;
  justify-content: flex-start;
  /*! min-width: 200px; */
}

.margin-queue {
  margin: 10px 10px 10px 0;
}

.queue-align span {
  color: grey;
  font-size: 15px;
  text-align: left;
  float: left;
}

aside span:nth-child(odd) {
  font-weight: 500;
}

aside img {
  box-shadow: 0 0 10px #feb7c5;
}

/*-----------------------------------------------------------------------------------------------------------------------*/
footer {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  float: left;
  background: #2c2c2c;
  width: 100%;
  height: 8vh;
  padding: 0 30px 0 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-foo {
  margin: 0px 10px;
  width: 100%;
}

footer h6 {
  font-size: 10px;
  margin-bottom: 2px;
}

footer span {
  color: grey;
  font-size: 15px;
  text-align: left;
  float: left;
}

.first_div {
  justify-content: flex-start;
  align-items: flex-start;
}

footer ol li {
  list-style: none;
}

.footer-ali {
  width: 100%;
  display: flex;
  min-height: 30px;
}

.foo-al-start {
  width: 100%;
  justify-content: flex-start;
  min-width: 175px;
}

.fa-random {
  color: #fff;
}

.play {
  flex-direction: column;
}

.fa {
  font-weight: lighter;
  color: grey;
}

.fa:hover {
  color: white;
}

.up {
  width: 80%;
}

.down {
  justify-content: flex-start;
}

#volume-bar {
  width: 100%;
  vertical-align: middle;
  padding: 0px 10px;
}

.margin-play {
  margin: 5px 0 0 0;
}

input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: transparent;
}

input[type="range"]::-moz-range-progress {
  background: linear-gradient(#00f067, #00ff9a);
}

input[type="range"]::-moz-range-track {
  background-color: lightgrey;
}
